{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <section class="ui center aligned middle aligned segment">
    <h1>
      About Us
    </h1>

  </section>

  <div class="ui segment">
    <h3 class="ui left aligned header">
      -  Weather information Provider
    </h3>
    <div class="ui segment">
      <h3 class="ui left aligned header">
        -  Our history
      </h3>
      <img class="ui large right floated image" src="/images/about2.jpg">
      <p> The first ‘real time’ weather observation was transmitted from Valentia
        Island in Co. Kerry on the 8th October 1860 under the auspices of the Meteorological
        Committee of the British Board of Trade. Indeed for many years after Independence weather
        matters continued to be met by the British Meteorological Office.
      </p>
      <p>It was not until 1936 that the Irish Meteorological Service was established to
        provide accurate weather information for transatlantic aviation.
      </p>
      <p>
        Further information on this can be found in the book Establishment of the Meteorological
        Service in Ireland. The Foynes Years, 1936-1945 by Tom Keane.
      </p>
      <p>
        Forecasting for aviation was the main preoccupation for the fledgling
        Meteorological Service. That is until 1948 when it assumed responsibility
        for the weather forecasts broadcast by Radio Éireann. In 1952 it began to
        supply forecasts to the daily newspapers and in 1961 the Central Analysis and
        Forecast Office was opened at 44 Upper O’Connell Street. The following year
        live broadcasts on Teilifís Éireann. In 1979 its headquarters were moved to
        Glasnevin, Dublin.
      </p>
    </div>
  </div>
</section>

{{!---  <section class="ui center aligned middle aligned segment">
<h3>
   Weather forecast
 </h3>
 <p>
   A simple list of Weather forecast
 </p>
</section>---}}