{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Weather Top Station
  </h1>
  <p>
    Weather Top Station is Ireland’s National Meteorological Service.
  </p>
  <p>
    Please Signup or Login using the menu above.
  </p>
  <img class="ui fluid image" src="/images/start.jpg">

</section>
