{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
   Place: {{stationCtrl.name}}
  </h2>
  {{> cards}}
  {{> listreadings}}
  {{> addreading}}
</section>
